body{
    background-color: blueviolet;
}
#fb{
    padding-left: 0px;
    padding-right: 0px;
}
ul{
    list-style-type: none;
    padding-left: 0px;
}
.row{
    padding-top: 10px;
}
.img-thumbnail{
    border: none;
    border-radius: 10px;
}

